<%= render partial: "shared/nav" %>

<h3><%= @coupon.name %></h3>
<p>Code: <%= @coupon.code %><p>
<p>Value: <%= @coupon.value %></p>
<p>Status: <%= @coupon.status %></p>
<p>Times used: <%= @coupon.times_used %></p><br>

<% if @coupon.status == "enabled" %>
  <%= button_to "Deactivate", merchant_coupon_status_path(@merchant, @coupon), method: :patch, params: {status: "disabled"} %>
<% else %>
  <%= button_to "Activate", merchant_coupon_status_path(@merchant, @coupon), method: :patch, params: {status: "enabled"} %>
<% end %>