<%= render partial: "shared/nav" %>

<h3><%= @coupon.name %></h3>
<p>Code: <%= @coupon.code %><p>
<p>Value: <%= @coupon.value %></p>
<p>Status: <%= @coupon.status %></p>
<p>Times used: <%= @coupon.times_used %></p>